{% extends "layout.html" %}

{% block title %}
    Dishes
{% endblock %}

{% block main %}
    <figure class="figure">
        <img src="https://i.imgur.com/DyxyhNI.png" class="figure-img img-fluid" alt="" title="source: imgur.com" />
    </figure>
    <hr class="my-4">
    <div class="card-group">
        <div class="card">
          <img src="https://i.imgur.com/opA9og4.jpg" class="card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title">Sudado de Pescado</h5>
            <p class="card-text">This dish was born in Peruvian shores, which has a great variety of fishes.</p>
            <a href="#" class="btn btn-primary">Learn more</a>
          </div>
        </div>
        <div class="card">
          <img src="https://i.imgur.com/oDJtbAk.jpg" class="card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title">Chaufa de Mariscos</h5>
            <p class="card-text">This dish was born in Peruvian shores, which has a great variety of fishes.</p>
            <a href="#" class="btn btn-primary">Learn more</a>
          </div>
        </div>
        <div class="card">
          <img src="https://i.imgur.com/mStOopg.jpg" class="card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title">Parihuela</h5>
            <p class="card-text">This dish was born in Peruvian shores, which has a great variety of fishes.</p>
            <a href="#" class="btn btn-primary">Learn more</a>
          </div>
        </div>
    </div>
    <div class="card-group">
        <div class="card">
          <img src="https://i.imgur.com/5ymvWuD.jpg" class="card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title">Arroz con Mariscos</h5>
            <p class="card-text">This dish was born in Peruvian shores, which has a great variety of fishes.</p>
            <a href="#" class="btn btn-primary">Learn more</a>
          </div>
        </div>
        <div class="card">
          <img src="https://i.imgur.com/geE7l01.jpg" class="card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title">Fetuccini en Salsa Bechamel</h5>
            <p class="card-text">This dish was born in Peruvian shores, which has a great variety of fishes.</p>
            <a href="#" class="btn btn-primary">Learn more</a>
          </div>
        </div>
        <div class="card">
          <img src="https://i.imgur.com/SwWgT1R.jpg" class="card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title">Chicharron de Pescado</h5>
            <p class="card-text">This dish was born in Peruvian shores, which has a great variety of fishes.</p>
            <a href="#" class="btn btn-primary">Learn more</a>
          </div>
        </div>
    </div>
    <div class="card-group">
        <div class="card">
          <img src="https://i.imgur.com/FWP3yKP.jpg" class="card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title">Fetuccini en Salsa Pirata</h5>
            <p class="card-text">This dish was born in Peruvian shores, which has a great variety of fishes.</p>
            <a href="#" class="btn btn-primary">Learn more</a>
          </div>
        </div>
        <div class="card">
          <img src="https://i.imgur.com/Xi8oljc.jpg" class="card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title">Pescado a lo Macho</h5>
            <p class="card-text">This dish was born in Peruvian shores, which has a great variety of fishes.</p>
            <a href="#" class="btn btn-primary">Learn more</a>
          </div>
        </div>
        <div class="card">
          <img src="https://i.imgur.com/UPbxswx.jpg" class="card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title">Choritos a la Chalaca</h5>
            <p class="card-text">This dish was born in Peruvian shores, which has a great variety of fishes.</p>
            <a href="#" class="btn btn-primary">Learn more</a>
          </div>
        </div>
    </div>
    <div class="card-group">
        <div class="card">
          <img src="https://i.imgur.com/oGoYc1w.jpg" class="card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title">Tiradito de Pescado</h5>
            <p class="card-text">This dish was born in Peruvian shores, which has a great variety of fishes.</p>
            <a href="#" class="btn btn-primary">Learn more</a>
          </div>
        </div>
        <div class="card">
          <img src="https://i.imgur.com/k5s5Ci3.jpg" class="card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title">Leche de Tigre el Huarique</h5>
            <p class="card-text">This dish was born in Peruvian shores, which has a great variety of fishes.</p>
            <a href="#" class="btn btn-primary btn-center">Learn more</a>
          </div>
        </div>
        <div class="card" style="background-color: #e3f2fd;">

        </div>
    </div>


    <script src="https://platform.fatsecret.com/js?key=32fc379b4bb742d18792d0a3a3f6d443"></script>
    <script>

    </script>


{% endblock %}
